<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="wslocal.dll" />
            </files>
        </defaultDocument>
		<security>
			<requestFiltering>
    				<requestLimits maxUrl="30000" maxQueryString="209007151" />
  		</requestFiltering>
		<authorization>
            <remove users="" roles="" verbs="" />
            <add accessType="Allow" users="HOLANDA2\RVA_Tecnologia" roles="Administrators" />
         </authorization>
      </security>
        <directoryBrowse enabled="true" />
        </system.webServer>
</configuration>